*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
a, h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 110px;
    font-weight: 700;
    color: #363838;
}
h2{
    font-size: 60px;
    font-weight: 700;
    color: #363838;
}
h3{
    font-size: 36px;
    font-weight: 700;
    color: #363838;
}
p{
    font-family: 'Open Sans', sans-serif;
}
.container{
    max-width: 1120px;
    margin: 0 auto;
}
section{
    margin-bottom: 130px;
}

.margin-right-80{
    margin-right: 80px;
}
.margin-right-60{
    margin-right: 60px;
}

/* Header */
.header-flex{
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-flex-right{
    display: flex;
    align-items: center;
}
header a{
    font-weight: 700;
    color: rgba(54, 56, 56, 0.9033);
}

/* Main slider */
.hero-section{
    width: 100%;
    height: 815px;
}
.main-slider{
    width: 100%;
    height: 722px;
    background-image: url(img/main_slider.png);
}
.chair-mask{
    position: absolute;
    top: 201px;
    left: 318px;
    z-index: 5;

    width: 458px;
    height: 717px;
    background-color: #F1D152;
}
.chair{
    position: absolute;
    left: 170px;

    z-index: 10;
}

.main-text-flex{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main-text{
    max-width: 635px;
}
.main-text .line{
    width: 185px;
    height: 1px;
    background-color: #979797;

    margin: 26px 0;
}
.main-text p{
    color: #5A5A5A;
}
.triggers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 84px;
    margin-top: 85px;
    margin-left: auto;
    margin-right: auto;
}
.triggers .normal{
    width: 8px;
    height: 8px;
    background-color: #363838;
    border-radius: 50%;
}
.triggers .active{
    background-color: #FFEF35;
}

/* Furniture new collection */
.new-collection-text{
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 730px;
    margin: 0 auto;
    margin-bottom: 55px;
}
.new-collection-text .line{
    width: 252px;
    height: 1px;
    background-color: #979797;
    margin: 25px 0;
}
.new-collection-text p{
    text-align: center;
}
.new-collection-images{
    display: flex;
    justify-content: space-evenly;
}
.new-collection-images-1{
    width: 350px;
    height: 350px;
    background-image: url(img/new-collection-1.png);
}
.new-collection-images-2{
    width: 350px;
    height: 350px;
    background-image: url(img/new-collection-2.png);
}
.new-collection-images-3{
    width: 350px;
    height: 350px;
    background-image: url(img/new-collection-3.png);
}
.new-collection-images-4{
    width: 350px;
    height: 350px;
    background-image: url(img/new-collection-4.png);
}
.new-collection-images-5{
    width: 350px;
    height: 350px;
    background-image: url(img/new-collection-5.png);
}

/* aesthetic */
.aesthetic{
    width: 100%;
    height: 616px;
}
.aesthetic .container{
    height: 100%;
}
.aesthetic-background{
    position: absolute;
    z-index: -10;
    width: 100%;
}
.aesthetic-background-mask{
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 616px;
    background-color: rgba(255, 255, 255, 0.7);
}
.aesthetic-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.aesthetic-text{
    display: flex;
    flex-direction: column;
    gap: 22px;

    max-width: 730px;
}
.aesthetic-text .line{    
    width: 200px;
    height: 1px;
    background-color: #979797;
}

/* how-it-works */
.how-it-works .container h3{
    text-align: center;
    margin-bottom: 40px;
}
.card-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;

}
.card-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-left: 15px;
}
.designer-consultation{
    max-width: 310px;
}
.production{
    max-width: 310px;
}

.top-row{
    display: flex;
    gap: 310px;
    margin-bottom: 30px;
}
.middle{
    display: flex;
}
.middle-line{
    width: 100%;
    height: 2px;
    background-color: #363838;
}
.middle-line-first-dot{
    position: relative;
    top: -4px;
    left: calc(-100% + 14px);

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #363838;
}
.dash-down{
    position: relative;
    left: calc(-100% + 310px);
    
    width: 2px;
    height: 20px;
    background-color: #363838;
}
.dash-up{
    position: relative;
    left: calc(-100% + 620px);
    bottom: 20px;
    
    width: 2px;
    height: 20px;
    background-color: #363838;
}
.bottom{
    display: flex;
}
.measurements{
    max-width: 310px;
    margin: 30px 0 0 310px;
}